<p>The following chemical expiring soon.</p>
<p class='last'>Lab Name:</p>
<p><strong>Lab {{lab}}</strong></p>
<p class='last'>Chemical Name:</p>
<p><strong>{{chemicalName}}</strong></p>
<table
	role='presentation'
	border='0'
	cellpadding='0'
	cellspacing='0'
	class='btn btn-primary'
>
	<tbody>
		<tr>
			<td align='left'>
				<table role='presentation' border='0' cellpadding='0' cellspacing='0'>
					<tbody>
						<tr>
							<td>
								<a clicktracking='off' href={{url}} target='_blank'>View
									Chemical</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p class='last'>Click the link below if the button not working:</p>
<p><a clicktracking='off' href={{url}} target='_blank'>{{url}}</a></p>