<p>A new support ticket have been opened. Kindly resolve it as soon as possible.</p>
<p class='last'>Ticket Reference:</p>
<p><a clicktracking='off' href={{url}} target='_blank'>{{ticketId}}</a></p>
<p class='last'>Subject:</p>
<p>{{subject}}</p>
<p class='last'>Message:</p>
<p style='white-space: pre-wrap;'>{{message}}</p>
<p class='last'>To respond, kindly click on the link below:</p>
<p><a clicktracking='off' href={{url}} target='_blank'>{{url}}</a></p>